#board {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.board-row {
    height: 20%;
    display: flex;
}

.field {
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    border: 1px black solid;
}

.decision {
    display: none;
}

#circle-tao-token {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
}