body {
    display: grid;
    grid-template-areas:
    'board board board board board'
    'decisions decisions decisions decisions decisions'
    'bank player0-stats player1-stats player2-stats player3-stats'   
    'actual-player actual-player actual-player actual-player actual-player';
}

#bank {
    grid-area: bank;
}

#player0-stats {
    grid-area: player0-stats;
}

#player1-stats {
    grid-area: player1-stats;
}

#player2-stats {
    grid-area: player2-stats;
}

#player3-stats {
    grid-area: player3-stats;
}

#actual-player {
    grid-area: actual-player;
}

#board {
    grid-area: board;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#decisions {
    grid-area: decisions;
}

.board-row {
    height: 20%;
    display: flex;
}

.field {
    box-sizing: border-box;
    width: 20%;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    border: 1px black solid;
}

#circle-tao-token {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.border {
    border: 1px solid #000000;
}

.active {
    
    animation-name: example;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {border: 1px solid black;}
    50% {border: 5px solid black;}
    100% {border: 1px solid black;}
}