#board {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.board-row {
    height: 33.3%;
    display: flex;
}

.field {
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
}

.board-row:nth-of-type(2n+1) .field:nth-of-type(2) {
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.board-row:nth-of-type(2) .field:nth-of-type(2n+1) {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.board-row:nth-of-type(2) .field:nth-of-type(2) {
    border: 1px black solid;
}